html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  
}

img {
  max-width: 100%;
  max-height: 100%;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}
.fighters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url('../../resources/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
 
  
  .fighter {
    height: 150px;
    max-width: 150px;
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: #ffdfa7;
    margin: 10px;
    border: 5px solid #ca9650;
  }
  
  